.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  background-color: #0fad69;
  border-radius: 50px;
  box-shadow: 10px 5px 5px #577e6d;
  margin: 1%;
}
.navbar h1{
  font-size: 3vw;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:oblique;
  text-decoration: underline;
}

.navbar-start{
  margin: 3%;
  font-weight: bold;
}

.navbar-start a{
  margin: 20%;
}

.dropdown{
  margin-left: 15%;
  margin-top: 1%;
}


.web-app {
  
  box-shadow: 10px 7px 5px rgb(91, 91, 118);
}
.app-card{
  width: 40%;
  margin: 3%;
  border: 2px solid black;
  display: inline-block;
  vertical-align: top;
}
.margin{
  margin: 2%;
}

.about-cards{
  display:inline-flex;
  margin: 1%
}
.about-cards .card-image{
  width: ;
}

.contact-page{
  margin: 1%;
  width: 50%;
}

.resume{
  margin: 1%;
}

@media only screen and (max-width: 768px){
  [class*="about-cards"]{
    display: block;
  }
}

@media only screen and  (max-width: 768px){
  [class="app-card"]{
    width: 90%;
  }
}